@{
    ViewBag.Title = "Форум";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Главная страница</h1>

<div id="ForNewTopic"></div>

<div class="row">
    <div class="col-md-12">
        @if(Request.IsAuthenticated)
        {
        <div class="col-md-6">
            <h2>Ваши темы</h2>
            @foreach (var item in ViewBag.UserTopics)
            {
                <div class="col-md-10">
                    <h3><a href="/Home/TopicPosts/@item.Id">@item.Name </a></h3>
                    <br />
                    <b>Автор: </b>@item.Creator.Name <b>Дата создания: </b>@item.CreationDate
                </div>
                <div class="col-md-2">
                    <h3>@item.PostsCount</h3>
                    <br />
                    постов
                </div>
            }
        </div>
        }

        <div class="col-md-6">
            <h2>Последние темы</h2>
            @foreach (var item in ViewBag.Latest)
            {
                <div class="col-md-10">
                    <h3><a href="/Home/TopicPosts/@item.Id">@item.Name </a></h3>
                    <br />
                    <b>Автор: </b>@item.Creator.Name <b>Дата создания: </b>@item.CreationDate
                </div>
                <div class="col-md-2">
                    <h3>@item.PostsCount</h3>
                    <br />
                    постов
                </div>
            }
        </div>
    </div>
</div>
