@model ForumWebApplication.Models.UserViewModel

@{
    ViewBag.Title = Model.Name;
}

<div id="ForNewTopic"></div>

<h2>Информация о пользователе</h2>

@using (Html.BeginForm("Info", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Model.Name</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mail)
            @Html.ValidationMessageFor(model => model.Mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Avatar)
        </div>

        <div class="editor-label">
            <img src="~/Content/Img/Avatars/@Model.Avatar" alt="У данного пользователя нет аватара" height="100" />
        </div>

        <div>
            <input type="file" name="imgFile" id="imgFile" />
        </div>

        <br />
        <p>
            <input type="submit" value="Сохранить изменения" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
